*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#navbar{
    width:100%;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: bold;
    padding:15px 0px;
   

}
#form{
    width:30%;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    gap:10px;
    /* border: 1px solid black; */
    padding: 30px;
    background-color: rgb(6, 151, 151);
   border-radius: 15px;
   


}
#form>input,select,button{
    height:30px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
}
#form>select{
    margin-top: -10px;
}
#form>button{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

}
#form>button:hover{
    background-color: rgb(40, 39, 39);
    font-weight: bolder;
}